<div class="app-header">
    <div class="row row-line"></div>
    <div class="row-section container-fluid py-2">
        <div class="app-title-row">
            <img src="assets/app-logo-card.svg">
        </div>
        <div class="account-summary">2 Active Accounts</div>
        <div class="d-flex flex-row flex-nowrap scrollable-view">
           
            <div class="account-card">
                <div class="card card-body">
                    <div class="container">
                        <div class="row row-card">
                            <div class="col-5"><img src="assets/app-logo.svg"></div>
                            <div class="col"></div>
                            <div class="col card-label">Bill Overdue</div>
                        </div>
                        <div class="row row-card">
                            <div class="col">
                                <div>Spent Till Now</div>
                                <span>1800</span>
                            </div>

                            <div class="col">
                                <div>Due Date</div>
                                <span>15th Aug</span>
                            </div>
                        </div>
                        <div class="row row-card">
                            <button class="btn btn-primary"> Pay Rs 1500</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account-card">
                <div class="card card-body">
                    <div class="container">
                        <div class="row row-card">
                            <div class="col-5"><img src="assets/pay-later.svg"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                        <div class="row row-card">
                            <div class="col-6">
                                <div>Spent This Month</div>
                                <span>1150</span>
                            </div>
                        </div>
                        <div class="row row-info-card">
                            <img src="assets/info.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>