<div class="row row-header">
    Recharge and Bill pay
</div>
<mat-divider></mat-divider>
<div class="bill-pay-section">
    <div class="row">
        <div class="col type-cell"><img src="assets/bills/prepaid.svg"></div>
        <div class="col type-cell"><img src="assets/bills/electricity.svg"></div>
        <div class="col type-cell"><img src="assets/bills/broadband.svg"></div>
        <div class="col type-cell"><img src="assets/bills/dth.svg"></div>
    </div>
    <div class="row">
        <div class="col type-cell"><img src="assets/bills/gas.svg"></div>
        <div class="col type-cell"><img src="assets/bills/landline.svg"></div>
        <div class="col type-cell"><img src="assets/bills/water.svg"></div>
        <div class="col type-cell"><img src="assets/bills/datacard.svg"></div>

    </div>
</div>